@import "colors";
@import "spacing";


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.customContainer{
    max-width: 1440px;
    padding: 0px $container-spacing;
    margin: auto;
}