button{
    width: 160px;
    height: 48px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;     
    text-transform: uppercase;
    border: 0px;
    padding: 0;

}

// Button 1 Default ->B1

.B1{

    background-color: $orange;
    color: $white;

}

.B1:hover{
    background-color: $lightOrange;
}

// Button 2 Default ->B2

.B2{
    background-color: $white;
    color: $black;
    border: 1px black solid;    

}

.B2:hover{
    background-color: $black;
    color: $white;
    border: 0 px;
}

// Button 3 Default ->B3

.B3{
    
    background-color: transparent;
    color: $black;
    background-image: url(/Audiophile-Website/assets/shared/desktop/icon-arrow-right.svg);
    background-repeat: no-repeat;
    background-position-x: 65%;
    background-position-y: 50%;
    text-align: left;
    padding-left: 50px;
    // border: 2px solid black;
    
    
    
 


}

.B3:hover{
    background-color: transparent;
    color: $orange;
}