@import "colors";

form {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: $black;
    

    & div {
        //to be modififed later as needed
        width: 309px;
        height: 56px;
    }
}

.textItem {
    //margin to be deleted
    margin-top: 15px;
    margin-bottom: 15px;

    & [type="text"]{
        // position: relative;
        height: 100%;
        width: 100%;        
        font-family: inherit;
        font-weight: inherit;
        color: inherit;
        font-size: 14px;

        border-radius: 8px;
        border: 2px solid $gray;
        padding-left: 24px;
    

        &::placeholder{
            color: $darkGray;
        }
        &:focus{
            outline: none;
            border: 2px solid $orange;
            color: $black;
            }
        // add style for Text field error 
    }

    & label {
        position: absolute;
        font-size: 12px;
        letter-spacing: -0.21px;     

    }

}



.radioItem {
    // width: 309px;
    // height: 56px;
    
    & [type="radio"]{
        display: none;    
    }
    & + .radioItem {
        margin-top: 15px;
    }
    & label{
        //initial setup was with block
        display: flex;
        font-size: 14px;
        letter-spacing: -0.25px;
        color: $black;
        height: 100%;
        align-items: center;  
        padding-left: 56px;
        background: $white;
        border: 2px solid $gray;
        border-radius: 8px;
        cursor: pointer;
        white-space: nowrap;
        position: relative;        
        // transition: .4s ease-in-out 0s;

    }
    & label::after, label::before{
        content: "";
        position: absolute;
        border-radius: 50%;

    }
    & label::after{
        height: 20px;
        width: 20px;
        border: 2px solid $gray;
        left: 16px;
        top: calc(50% - 12px);
    }
    & label::before{
        background: $orange;
        height: 10px;
        width: 10px;
        left: 23px;
        top: calc(50% - 5px);
        visibility: hidden;
        // transform: scale(5);
        // opacity: 0;        
        // transition: .4s ease-in-out 0s;
    }
    & [type="radio"]:checked ~ label {
        border-color: $orange;
    
    }
    & [type="radio"]:checked ~ label::before {
        opacity: 1;
        visibility: visible;
        // transform: scale(1);
    }
    & [type="radio"]:hover ~ label {
        border-color: $orange;
    }

}
