$mobileWidth: 375 px;
$tabletWidth: 768 px;
$desktopWidth: 1440 px;

$baseSpacing: 15px;
$mdSpacing: 2 * $baseSpacing;
$lgSpacing: 3 * $baseSpacing;
$xlSpacing: 4 * $baseSpacing;
$xxlSpacing: 8 * $baseSpacing;

