$mobileWidth: 375px;
$tabletWidth: 768px;
$desktopWidth: 1440px;

$baseSpacing: 15px;
$mdSpacing: 2 * $baseSpacing;
$lgSpacing: 3 * $baseSpacing;
$xlSpacing: 4 * $baseSpacing;
$xxlSpacing: 8 * $baseSpacing;

$container-spacing: 165px;

