@import "base";
@import "colors";
@import "spacing";
@import "typography";
@import "buttons";
@import "forms";

// Home page styles

//Homepage - Hero styles
.hero {
    background-image: url("../assets/home/desktop/image-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 0 $borderRadius $borderRadius;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 120px;

    .customContainer {
        height: 728px;
        // width: 100%;        
    }
}

//Homepage - Hero - newProduct styles
.newProduct {
    position: absolute;
    top: 225px;
    width: 398px;
    height: 346px;

    h1 {
        color: white;
        padding: 25px 0px;
    }

    p {
        color: $darkGray;
        width: 90%;
    }

    .B1 {
        position: absolute;
        bottom: 0;
    }


}

//General - Header settings
header {
    display: flex;
    justify-content: space-between;
    // text-align: center;
    // align-items: center;
    padding-top: 32px;
    padding-bottom: 36px;
    border-bottom: 0.5px solid $darkGray;
}

nav {
    display: flex;
    align-items: center;

    ul {
        list-style-type: none;

    }

    li {
        display: inline;

    }

    li:not(:last-child) {
        margin-right: 35px;

    }

    a {
        text-decoration: none;

        &:hover {
            color: $orange;
        }
    }
}

.headerButtons {
    display: flex;
    gap: 10px;
}

.B5 {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;


    &:hover {
        filter: invert(54%) sepia(45%) saturate(593%) hue-rotate(337deg) brightness(94%) contrast(94%);
        cursor: pointer;
    }
}


// General - Categories section

.categories {
    margin-bottom: $marginBottom;

    .customContainer {
        display: flex;
        justify-content: space-between;
        height: 284px;
    }
}

.category {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 350px;

    .background {
        width: 100%;
        height: 204px;
        background-color: $gray;
        border-radius: $borderRadius;
        position: absolute;
        top: 80px;
        z-index: -1;
    }

    img {
        width: 65%;
        // position: absolute;
    }

    h6 {
        position: absolute;
        top: 200px;
    }

}

// Homepage - Products section + products styles
.products {
    margin-bottom: 200px;

    .customContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 48px;
    }
}

.productZX9 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: start;
    padding: 115px 95px 0 140px;
    // position: relative;
    border-radius: $borderRadius;
    background-color: $orange;
    background-image: url("../assets/home/desktop/pattern-circles.svg");
    background-position: -145px -30px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 560px;

    .productDescription {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 20px;
        width: 349px;
        height: 303px;
        color: $white;

        p {
            font-weight: 300;
            opacity: 75%;
            letter-spacing: 0.75px;
            font-size: 14px;
        }
    }

    img[alt="ZX9"] {
        width: 380px;
    }
}

.productZX7 {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 320px;

    img {
        border-radius: $borderRadius;
        position: absolute;
    }

    .productDescription {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 101px 95px;
        width: 100%;
        height: 100%;
        z-index: 1;

    }
}

.productYX1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 320px;

    img {
        border-radius: $borderRadius;
    }

    .productDescription {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 101px 95px;
        background-color: $gray;
        border-radius: $borderRadius;
        height: 100%;
        width: 540px;
    }

}

//General - About section

.about {
    margin-bottom: $marginBottom;

    .customContainer {
        display: flex;
        justify-content: space-between;
        gap: 125px;
        height: 100%;
    }

    .aboutDescription {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 146px 0;

        .highlight {
            color: $orange;
        }

        p {
            color: $darkGray;
        }
    }

    img {
        border-radius: $borderRadius;
    }
}

//General - Footer section styles
.footer {
    .customContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 365px;
        background-color: black;
        border-radius: $borderRadius $borderRadius 0 0;

        .line {
            width: 100px;
            height: 5px;
            background-color: $orange;
            position: absolute;
        }

        & p:last-child {
            color: $darkGray;
            padding-top: 56px;
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    padding-top: 75px;

    nav {

        ul {
            list-style-type: none;

        }

        li {
            display: inline;

        }

        li:not(:last-child) {
            margin-right: 35px;

        }

        a {
            text-decoration: none;

            &:hover {
                color: $orange;
            }
        }
    }

}

.footerDescription {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 36px;

    p {
        width: 540px;
        color: $darkGray;
        padding: 0;
    }

    .social {

        ul {
            display: flex;
            flex-direction: row;
            gap: 16px;
            list-style-type: none;

            img:hover {
                filter: invert(54%) sepia(45%) saturate(593%) hue-rotate(337deg) brightness(94%) contrast(94%);
            }
        }

        img {
            height: 24px;
        }

    }

}


// Headphones category page styles
// General - Category Header styles

.categoryHeader {
    margin-bottom: $marginBottom;

    .customContainer {
        display: flex;
        flex-direction: column;
        gap: 97px;
        height: 336px;
        background-color: $black;

        h2 {
            color: $white;
            text-align: center;
            // padding-top: 97px;
        }
    }
}

// General - Category products syles

.categoryProducts {
    margin-bottom: $marginBottom;

    .customContainer {
        display: flex;
        flex-direction: column;
        gap: 160px;

    }
}

.categoryProduct {
    display: flex;
    justify-content: space-between;
    height: 560px;
    gap: 125px;

    img {
        height: 100%;
        border-radius: $borderRadius;
    }

    .productDescription {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 107px 0;

        & p:first-of-type {

            padding-bottom: 16px;
        }

        & p:last-of-type {
            color: $darkGray;
            padding: 32px 0 40px 0;
        }

    }
}

// Headphones product page styles
//General - Product page - Header Styles

.productHeader {
    margin-bottom: $marginBottom;

    .customContainer {
        height: 97px;
        background-color: $black;
    }

    header {
        padding-bottom: 0;
        border-bottom: none;
    }
}

// General - Product Section - Styles

.productSection {
    margin-bottom: $marginBottom;

    .customContainer {
        display: flex;
        flex-direction: column;
        gap: 160px;
    }
}

// General - Product Details - Styles
.productDetails {
    display: flex;
    justify-content: space-between;
    height: 560px;
    gap: 125px;

    img {
        height: 100%;
        border-radius: $borderRadius;
    }

    .productDescription {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 77px 0;

        & p:first-of-type {

            padding-bottom: 16px;
        }

        & p:last-of-type {
            color: $darkGray;
            padding: 32px 0;
        }

        h6 {
            padding-bottom: 47px;
        }

        .buttonsDiv {
            display: flex;
            gap: 15px;
        }
    }
}

// General - Product Features - Styles
.productFeatures {
    display: flex;
    height: 318px;
    gap: 125px;

    p {
        color: $darkGray;
    }

    h3 {
        padding-bottom: 32px;
    }

    .features {
        width: 635px;
    }

    .inthebox {
        width: 350px;
    }

    .highlight {
        color: $orange;
    }

}

// General - Product Images - Styles
.productImages {
    display: flex;
    height: 592px;
    gap: 30px;

    img {
        border-radius: $borderRadius;
    }

    .bundleImages {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

}

// General - Similar products Section - Styles

.similarProducts {
    margin-bottom: $marginBottom;

    .customContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 571px;

    }

}

.similarBundle {
    display: flex;
    gap: 30px;

    .similarProduct {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 350px;
        height: 471px;

        img {
            width: 100%;
            border-radius: $borderRadius;
        }

    }
}

// Login popup / page

   
    
    
    // look into stoping scroll

.loginSection {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 500px;
    width: 1110px;
    z-index: 10;
    

    .B5{
        position: absolute;
        right: 15px;
        top: 15px;

        &:hover {
            scale: 1.25;
            filter: none;
        }
    }
}



.login_signup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    width: 50%;
    border-radius: $borderRadius 0 0 $borderRadius;
    padding: 40px;
    // order: 2;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
}
.signUp{
    border-radius: 0 $borderRadius $borderRadius 0;
    // background-color: orange;
    

}
.loginSide {

    position: absolute;
    left: 50%;
    border-radius: 0px $borderRadius $borderRadius 0;
    width: 555px;
    height: 500px;
    background-color: $orange;
    background-image: url("../assets/home/desktop/pattern-circles.svg");
    // background-size: 150%;
    
}

body {
    position: relative;
}

.popupOverlay {
    position: absolute;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 80%;
}

// Pagination 

.pagination {


    ul{
        
        list-style: none;
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        gap: 15px;
        justify-content: center;
        font-size: larger;

       

        li {
            
            cursor: pointer;
        }

        li:hover {
            color: $orange;
            scale: 1.3;
        }

    }
}