@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.customContainer {
  max-width: 1440px;
  padding: 0px 165px;
  margin: 0 auto;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  color: #000000;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
}

h2 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
}

h4 {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}

h5 {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}

h6 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
}

.overlineOrange {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  color: #FBAF85;
  text-transform: uppercase;
}

.overlineGray {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  color: gray;
  text-transform: uppercase;
}

.subtitleOrange {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #D87D4A;
  text-transform: uppercase;
}

.subtitleWhite {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.B1, .B2, .B3, .B4 {
  width: 160px;
  height: 48px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 0px;
  padding: 0;
}

.B1 {
  background-color: #D87D4A;
  color: #FFFFFF;
}

.B1:hover {
  background-color: #FBAF85;
}

.B2 {
  background-color: transparent;
  color: #000000;
  border: 1px black solid;
}

.B2:hover {
  background-color: #000000;
  color: #FFFFFF;
  border: 0 px;
}

.B3 {
  background-color: transparent;
  color: #000000;
  background-image: url(/Audiophile-Website/assets/shared/desktop/icon-arrow-right.svg);
  background-repeat: no-repeat;
  background-position-x: 65%;
  background-position-y: 50%;
  text-align: left;
  padding-left: 50px;
}

.B3:hover {
  background-color: transparent;
  color: #D87D4A;
}

.B4 {
  background-color: #000000;
  color: #FFFFFF;
  border: 0 px;
}

.B4:hover {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px black solid;
}

form {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #000000;
}
form div {
  width: 309px;
  height: 56px;
}

.textItem {
  margin-top: 15px;
  margin-bottom: 15px;
}
.textItem [type=text] {
  height: 100%;
  width: 100%;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  font-size: 14px;
  border-radius: 8px;
  border: 2px solid #F1F1F1;
  padding-left: 24px;
}
.textItem [type=text]::-moz-placeholder {
  color: gray;
}
.textItem [type=text]::placeholder {
  color: gray;
}
.textItem [type=text]:focus {
  outline: none;
  border: 2px solid #D87D4A;
  color: #000000;
}
.textItem label {
  position: absolute;
  font-size: 12px;
  letter-spacing: -0.21px;
}

.radioItem [type=radio] {
  display: none;
}
.radioItem + .radioItem {
  margin-top: 15px;
}
.radioItem label {
  display: flex;
  font-size: 14px;
  letter-spacing: -0.25px;
  color: #000000;
  height: 100%;
  align-items: center;
  padding-left: 56px;
  background: #FFFFFF;
  border: 2px solid #F1F1F1;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
}
.radioItem label::after, .radioItem label::before {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.radioItem label::after {
  height: 20px;
  width: 20px;
  border: 2px solid #F1F1F1;
  left: 16px;
  top: calc(50% - 12px);
}
.radioItem label::before {
  background: #D87D4A;
  height: 10px;
  width: 10px;
  left: 23px;
  top: calc(50% - 5px);
  visibility: hidden;
}
.radioItem [type=radio]:checked ~ label {
  border-color: #D87D4A;
}
.radioItem [type=radio]:checked ~ label::before {
  opacity: 1;
  visibility: visible;
}
.radioItem [type=radio]:hover ~ label {
  border-color: #D87D4A;
}

.hero {
  background-image: url("../assets/home/desktop/image-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0 0 8px 8px;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.hero .customContainer {
  height: 728px;
}

.newProduct {
  position: absolute;
  top: 225px;
  width: 398px;
  height: 346px;
}
.newProduct h1 {
  color: white;
  padding: 25px 0px;
}
.newProduct p {
  color: gray;
  width: 90%;
}
.newProduct .B1 {
  position: absolute;
  bottom: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 35px 0px;
  border-bottom: 0.5px solid gray;
}

nav ul {
  list-style-type: none;
}
nav li {
  display: inline;
}
nav li:not(:last-child) {
  margin-right: 35px;
}
nav a {
  text-decoration: none;
}
nav a:hover {
  color: #D87D4A;
}

.B5 {
  background-color: transparent;
  border: none;
}
.B5:hover {
  filter: invert(54%) sepia(45%) saturate(593%) hue-rotate(337deg) brightness(94%) contrast(94%);
}

.categories {
  margin-bottom: 168px;
}
.categories .customContainer {
  display: flex;
  justify-content: space-between;
  height: 284px;
}

.category {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 350px;
}
.category .background {
  width: 100%;
  height: 204px;
  background-color: #F1F1F1;
  border-radius: 8px;
  position: absolute;
  top: 80px;
  z-index: -1;
}
.category img {
  width: 65%;
}
.category h6 {
  position: absolute;
  top: 200px;
}

.products {
  margin-bottom: 200px;
}
.products .customContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
}

.productZX9 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: start;
  padding: 115px 95px 0 140px;
  border-radius: 8px;
  background-color: #D87D4A;
  background-image: url("../assets/home/desktop/pattern-circles.svg");
  background-position: -145px -30px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 560px;
}
.productZX9 .productDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  width: 349px;
  height: 303px;
  color: #FFFFFF;
}
.productZX9 .productDescription p {
  font-weight: 300;
  opacity: 75%;
  letter-spacing: 0.75px;
  font-size: 14px;
}
.productZX9 img[alt=ZX9] {
  width: 380px;
}

.productZX7 {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 320px;
}
.productZX7 img {
  border-radius: 8px;
  position: absolute;
}
.productZX7 .productDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 101px 95px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.productYX1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 320px;
}
.productYX1 img {
  border-radius: 8px;
}
.productYX1 .productDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 101px 95px;
  background-color: #F1F1F1;
  border-radius: 8px;
  height: 100%;
  width: 540px;
}

.about {
  margin-bottom: 200px;
}
.about .customContainer {
  display: flex;
  justify-content: space-between;
  gap: 125px;
  height: 100%;
}
.about .aboutDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 146px 0;
}
.about .aboutDescription .highlight {
  color: #D87D4A;
}
.about .aboutDescription p {
  color: gray;
}
.about img {
  border-radius: 8px;
}

.footer .customContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 365px;
  background-color: black;
  border-radius: 8px 8px 0 0;
}
.footer .customContainer .line {
  width: 100px;
  height: 5px;
  background-color: #D87D4A;
  position: absolute;
}
.footer .customContainer p:last-child {
  color: gray;
  padding-top: 56px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
}
footer nav ul {
  list-style-type: none;
}
footer nav li {
  display: inline;
}
footer nav li:not(:last-child) {
  margin-right: 35px;
}
footer nav a {
  text-decoration: none;
}
footer nav a:hover {
  color: #D87D4A;
}

.footerDescription {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 36px;
}
.footerDescription p {
  width: 540px;
  color: gray;
  padding: 0;
}
.footerDescription .social ul {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style-type: none;
}
.footerDescription .social ul img:hover {
  filter: invert(54%) sepia(45%) saturate(593%) hue-rotate(337deg) brightness(94%) contrast(94%);
}
.footerDescription .social img {
  height: 24px;
}

.categoryHeader {
  margin-bottom: 160px;
  background-color: #000000;
}
.categoryHeader .customContainer {
  display: flex;
  flex-direction: column;
  gap: 97px;
  height: 336px;
}
.categoryHeader .customContainer h2 {
  color: #FFFFFF;
  text-align: center;
}

.categoryProducts {
  margin-bottom: 160px;
}
.categoryProducts .customContainer {
  display: flex;
  flex-direction: column;
  gap: 160px;
}

.categoryProduct {
  display: flex;
  justify-content: space-between;
  height: 560px;
}
.categoryProduct img {
  height: 100%;
}/*# sourceMappingURL=main.css.map */