@import "base";
@import "colors";
@import "spacing";
@import "typography";
@import "buttons";
@import "forms";

.hero{
    background-image: url("../assets/home/desktop/image-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 0 8px 8px;
    height: 728px;
    width: 1440px;    
    margin: auto;   

    .container{        
        height: 100%;
        margin: auto;
        width: 100%;
        max-width: 1440px;
        
    }

    header{
        display: flex;
        justify-content: space-between;
        padding: 35px 0px;
        // margin-top: 35px;
        border-bottom: 0.5px solid $darkGray;
    }

    nav {
               
        ul{
        list-style-type: none;
        
        }

        li {
            display: inline;
            
        }

        li:not(:last-child) {
            margin-right: 35px;
            
        }

        a {
            text-decoration: none;
        }
    }

    .B4{
        background-color: transparent;
        border: none;
    }

    .newProduct{
        position: absolute;
        top: 225px;
        width: 398px;
        height: 346px;
        
        h1 {
            color: white;
            padding: 25px 0px;
        }

        p{
            color: $darkGray;
            width: 90%;
        }

        .B1{
            position: absolute;
            bottom: 0;
        }

        
    }
}

.categories{
        width: 1440px;
        height: 284px;
        
        margin: auto;
            
    
    .container{
        display: flex;
        justify-content: space-between;
        margin-top: 120px;
        max-width: 1440px;
        height: 284px;
        
        
    }
    
    .category{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 350px;
        

        .background{
            width: 100%;
            height: 204px;
            background-color: $gray;
            border-radius: 8px;
            position: absolute;
            top: 80px;
            z-index: -1;
        }

        img{
            width: 65%;
            // position: absolute;
        }

        h6 {
            position: absolute;
            top: 200px;
        }

    }
    
}